@model Patient

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Profile</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<!-- Sidebar -->
    <aside class="sidebar">
        <div class="logo">
            <img src="https://framerusercontent.com/images/pL2vwGqbZlaEGRev1OpCd6aKRk.png?width=1031&height=316" alt="Sensore by Graphene Trace">
        </div>

        <nav>
            <a class="nav-item active" >Patient Overview</a>
            <a class="nav-item" asp-area="" asp-controller="Patients" asp-action="DoctorNotes">Doctor’s Notes</a>
        </nav>

        <div class="bottom-links">
            <a class="nav-item" asp-area="" asp-controller="Home" asp-action="Index">Log Out</a>
        </div>
    </aside>

    <!-- Main Content -->
    <main class="content">

        <div class="top-bar"></div>

            <h1 class="page-title">Patient Overview</h1>

        <div class="card">
            <!-- Patient Info Section -->
            <section class="patient-info">

                <div>
                    <h2>@Model.FirstName @Model.LastName</h2>
                    <p>@Model.DateOfBirth</p>

                    <div class="status-box">
                        <font size = 4><strong>Current Status</strong><br> </font>
                        <b>Doctor ID: @Model.DoctorId</b><br>
                        <button class="alert-btn"><b>Alert History</b></button>
                    </div>

                    <div class="details-grid">
                        <div><strong>Patient ID</strong><br>@Model.Id</div>
                        <div><strong>Phone</strong><br>@Model.PhoneNumber</div>
                        <div><strong>Gender</strong><br>Female</div>
                        <div><strong>Email</strong><br>@Model.Email</div>
                    </div>
                </div>
            </section>

</body>
</html>